@model List<ContactModel>
@{
    ViewData["Title"] = "Agenta de contatos";
}

<div >

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Contact" asp-action="Create" role="button">Adicionar novo contato</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemError"]
        </div>
    }

    

    <br />
    <h1 class="display-4 ">@ViewData["Title"]</h1>
    <br />

    <table id="table-principal" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null && Model.Any())
            {
                foreach (ContactModel contact in Model)
                {
                    <tr>
                        <th scope="row">@contact.Id</th>
                        <td>@contact.Name</td>
                        <td>@contact.Email</td>
                        <td>@contact.Phone</td>
                        <td>
                            <div class="btn-group" role="group" style="width:100%">
                                <a role="button" asp-action="Edit" asp-controller="Contact" asp-route-id="@contact.Id" class="btn btn-primary" >Editar</a>
                                <a role="button" asp-action="DeleteContact" asp-controller="Contact" asp-route-id="@contact.Id" class="btn btn-danger">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum usuário encontrato</td></tr>
            }

        </tbody>
    </table>

</div>

